@inherits LayoutComponentBase

<div class="page">
    <header class="top-navbar">
        <a href="/" class="navbar-brand">Онлайн-аптека</a>
        <NavMenu />
    </header>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
    
</div>